{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SAMSEL PUBLICATIONS</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="floating-icon">
    <img src="{% static 'images/icon18.gif' %}" alt="Teacher Icon">
</div>

<!-- NAVBAR -->
<header>
  <nav class="navbar">
    <div class="nav-container">

        <!-- LOGO (LEFT) -->
        <div class="logo">
            <a href="/">
                <span class="logo-main">SAMSEL</span>
                <span class="logo-sub">Publications</span>
            </a>
        </div>

        <!-- MENU (RIGHT) -->
        <ul class="menu">
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'about' %}">About Us</a></li>
            <li><a href="{% url 'products' %}">Products</a></li>
            <li><a href="{% url 'contact' %}">Contact Us</a></li>

            <li class="dropdown">
                <a href="#">Login <span class="arrow">▾</span></a>
                <ul class="dropdown-menu">
                    <li><a href="{% url 'teacher_login' %}">Teacher Login</a></li>
                    <li><a href="{% url 'student_login' %}">Student Login</a></li>
                </ul>
            </li>
        </ul>

    </div>
</nav>


</header>
<section class="login-section">
    <div class="login-box">
        <h2>Student Login</h2>

        <form method="post">
            {% csrf_token %}

            <input type="text" placeholder="Student ID" required>
            <input type="password" placeholder="Password" required>

            <button type="submit" class="btn">Login</button>
        </form>
    </div>
</section>

<footer>
    <p>© 2026 SAMSEL PUBLICATIONS</p>
</footer>

</body>
</html>
